.App {
  text-align: center;
}

.Modal {
  margin: auto;
  width: 300px;
  min-height: 250px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}